/.qsys_edit
/db
/incremental_db
/output_files
/*.sopcinfo
/qsys
/*.bak
/software/.metadata
/software/RemoteSystemsTempFiles
/software/hello/*.elf
/software/hello/*.map
/software/hello/obj/default/*.o
/software/hello/obj/default/*.d
/software/hello/*.objdump
/software/hello_bsp/HAL/inc
/software/hello_bsp/HAL/src
/software/hello_bsp/obj/HAL/src
/software/hello_bsp/obj
/software/hello_bsp/drivers/inc
/software/hello_bsp/drivers/src
/software/hello_bsp/alt_sys_init.c
/software/hello_bsp/libhal_bsp.a
/software/hello_bsp/linker.h
/software/hello_bsp/linker.x
/software/hello_bsp/mem_init.mk
/software/hello_bsp/memory.gdb
/software/hello_bsp/public.mk
/software/hello_bsp/summary.html
/software/hello_bsp/system.h
